<h1>Create Task</h1>
<p>This task returns input text with a specified delay.</p>
<form action="/create" method="POST">
    <label for="request">Text</label>
    <input type="text" placeholder="Enter Text" name="request" required>
    <label for="delay">Delay (ms)</label>
    <input type="number" placeholder="Enter Delay" name="delay" required>
    <input type="submit" value="Submit" class="button">
</form>