<h1>Load Balancer</h1>
<p>This is simple web project created with Node.js & MongoDB.</p>
<p>
    Connected modules: bcrypt, connect-mongo, cookie-parser, dotenv,
    ejs, express, express-ejs-layouts, express-session, jsonwebtoken,
    method-override, mongoose, nodemon.
</p>
<a href="/login">View Project</a>